<img src="<%= @event.game.logo %>" alt="" width= "50%">
<h1><%= @event.game.name %></h1>
<p>Event Date: <%= @event.date %></p>
<p>Max Players for this Event: <%= @event.max_player %></p>
<p>Current Number of Players for this event:</p>
