@import "bootstrap";

.container {
  display: inline-block;
  text-align: center;
}

body {
  background-color: #fff;
  border: 20px;
  margin-left:13%;
  margin-right:13%;
  margin-bottom:2%;
  margin-top:0%;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  font-size: 20px;
}
