@import "bootstrap";

.container {
  display: inline-block;
  text-align: center;
}

body {
  background-color: #fff;
  border: 20px;
  margin-left:10%;
  margin-right:10%;
  margin-bottom:2%;
  margin-top:0%;
  padding-top: 70px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  font-size: 25px;
}

.user-dropdown{
  columns: 3;
}
p{
  font-size: 18px;
}

#sign-in-form{
  font-weight: bold;
  font-size: 15px;
}
#navbar{
  opacity: 0.85;
}
